.navbar-container {
    background-color: var(--main-bg-color-navbar);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: black;
    height: fit-content;
    padding: 20px;
    border-right: 1px solid rgb(25, 118, 210, 0.5);

    &:last-childe {
        border: none;
    }
}