.login-form {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: auto;
<<<<<<< Updated upstream
    margin-top: 40px;
=======
    margin-top: 200px;
>>>>>>> Stashed changes
}

.login-button{
    margin: auto;
    width: 40%;
}